<!DOCTYPE html>
<html>
<head>
    <title>Buddy</title>
    <!-- Bootstrap: Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type= "text/css" href="../../static/game/homepage.css">
</head>
<body>
  <header class="container">
  <div class="row">
    <h1 class="col-sm-4">Buddy</h1>
    <nav class="col-sm-8 text-right">
      <a href="login">Log In</a>
      <p></p>
      <a href="sign_up">Sign Up</a>
      <p></p>
      <a href="contact">Contact</a>
      <p> </p>
    </nav>
  </div>
</header>

<section class="jumbotron">
  <div class="container">
    <div class="row text-center">
      <h2>Welcome to Buddy.</h2>
      <h3>Participate in and vote on mental health challenges!</h3>
</section>

<footer class="container">
  <div class="row">
    <p class="col-sm-4">&copy; 2018 Eric Ran and Katie Gu </p>
  </div>
</footer>
</body>
</html>
