<!DOCTYPE html>
<html>
<head>
    <title>Buddy</title>
    <link rel="stylesheet" type="text/css" href="/static/game/profile.css">
</head>

<body>

<div id="todo">
    <div id="level">Level 1</div>
    <div class="bar">
      <div class="xp">32389713283%</div>
    </div>

    <p> </p>

    <div id="myDIV">
     <h2>Daily Challenges</h2>
     <input type="text" id="myInput" placeholder="Title...">
     <span onclick="newElement()" class="addBtn">Add</span>
    </div>

    <ul id="myUL">
      <li>
        {{challenge1.description}}
      </li>
      <li>
        {{challenge2.description}}
      </li>
    </ul>
</div>

<script src="/static/game/profile.js"></script>
</body>
</html>
